doctype html
html
	head
		title "Add articles zone"
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			a.navbar-brand(href='/') Knowledge Zone
			#navbarTogglerDemo03.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.mt-2.mt-lg-0
					li.nav-item.active
						a.nav-link(href='/')
							| Home
						span.sr-only (current)
					if user
						li.nav-item
							a.nav-link(href='/articles/add') Add Articles
				ul.nav.navbar-nav.navbar-right
					if user 
						li.nav-item
							a.nav-link(href='/users/logout') Logout
							span.sr-only
					else 
						li.nav-item
							a.nav-link(href='/users/register') Register
							span.sr-only
						li.nav-item
							a.nav-link(href='/users/login') Login
					
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
					button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search


		.container
			//- message stands for the name of the file containing the alert message
			!= messages('message', locals)
			if errors
				each error, i in errors
					div(class='alert alert-danger') #{error.msg}
			block content

			br
			hr
			footer
				p Copyright &2017
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')